{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="contact-form">
  <div class="container">
    <div class="row">
      <form method="POST" action="{{ site.Params.contact_form_action | safeURL }}">
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group">
              <input name="user_name" type="text" class="form-control" placeholder="Votre Nom">
            </div>
            <div class="form-group">
              <input name="user_email" type="text" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input name="user_subject" type="text" class="form-control" placeholder="Sujet">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group-2">
              <textarea name="user_message" class="form-control" rows="4" placeholder="Votre Message"></textarea>
            </div>
            <button class="btn btn-default" type="submit">{{ i18n "submit" }}</button>
          </div>
        </div>
      </form>
    </div>
    
      {{ if site.Params.gmap.enable }}
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="google-map">
            <div class="map" id="map" data-latitude="{{ site.Params.gmap.map_latitude }}" data-longitude="{{ site.Params.gmap.map_longitude }}" data-marker="{{ site.Params.gmap.map_marker | relURL }}" data-marker-name="{{ site.Title }}"></div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
